#card{

  width: 300px;
  margin-bottom: 20px;
  background-color: mintcream;
}


.contact-item-header{
 padding:10px 0 0 10px;
  border-radius: 3px 3px 0 0;

  background-color: lightskyblue;
}
.contact-item-header md-icon{
  font-size: 36px;
}

#room{
  right: 10px;
  position: absolute;
}

