<div class="contact-item-card">
<div class="contact-item-header"><md-icon>face</md-icon></div>
<md-card id="card" class="mat-card">

<md-card-header></md-card-header>

  <md-card-content>
    <md-card-title >{{contact.firstName+' '+contact.lastName}}</md-card-title>
    <p>Phone: {{contact.phone}}</p>
    <p>Address: {{contact.address}}</p>
    <p>City: {{contact.city}}</p>
  </md-card-content>

  <md-card-actions>
    <button md-icon-button (click)="deleteContact()">
      <md-icon >delete</md-icon>
    </button>
    <button md-icon-button (click)="editContact()">
      <md-icon >edit</md-icon>
    </button>

    <button id="room" md-icon-button (click)="openMap()">
      <md-icon class="md-18">room</md-icon>
    </button>

  </md-card-actions>
</md-card>
</div>
