
.loginCard {
  width: 400px;
  text-align: center;
  background-color: lightgoldenrodyellow;
}

#loginTitle {
  float: left;
}

.cardImg {
  max-width: 380px;
  max-height: 250px;
  width: auto;
  height: auto;
}

.cardIcon {
  font-size: 36px;
  padding-right: 10px;
  color: navy;
}
